node_modules/
public/
.gatsby-context.js
.env.development
.env.production
.DS_Store
.intermediate-representation/
.cache/
yarn-error.log
aero-debug.log
package-lock.json
now.json
aerobatic.yml
aero-deploy.tar.gz